:host {
    /* display: block; */
    width: 100%;
    height: 100%;
    color: white; /* Optional: Ensure text is visible */
  }

  .video-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; /* Use full viewport height */
    position: relative;
  }
  
  .iframe-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
  }
  
  .iframe-container1 iframe {
    width: 100%;
    height: 1000px;  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
  }
  .video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

figure img {
  width: 100%;
  height: auto;
}

figure > * {
  grid-area: 1/1;
  transition: .4s;
}

figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: #0000;
  padding: .75rem;
  background: var(--c, #0009);
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}

figure:hover figcaption {
  --_i: 0%;
}

figure:hover img {
  transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    color: #fff;
  }
}

.cardM{
  /* min-height: 100vh; */
  height: 220px;
  place-content: center;
  background-color: black;
  margin-top:10px ;
  /* margin-bottom: 150px; */
}

.video-section {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Create two equal columns */
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: -600px;
}

.iframe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.iframe-container iframe {
  max-width: 100%;
  height: 500px;
}

@media (max-width: 640px) {

  .iframe-container1 {
    
   
  }

  .homesec {
    margin-top:-290px;
     /* Remove large margin-top */
   
  }

  .about {
    margin-top:-50px; /* Remove large margin-top */
   
  }

  .about1 {
    margin-top:-330px; /* Remove large margin-top */
   
  }

  video {
    width: 100%;
    height: 100%;
  }

  .layout {
    height: 300px; /* Remove large margin-top */
   
  }
  .cardM figure {
    width: 100%;
    margin-top: 15px;
  }
  .video-section iframe {
    width: 100% !important;
    height: auto !important;


  }

  .video-section  {
    margin-top: -400px;


  }

  .stream {
    margin-top: 750px; /* Remove large margin-top */
   
  }

  .video-section1  {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-top: 10rem;

  }


}


@media (max-width: 460px) {


  .video-section  {
    margin-top: -560px;



    
  }

  .layout {
    height: 330px; /* Remove large margin-top */
   
  }

  .about1 {
    margin-top:-320px; /* Remove large margin-top */
   
  }

}

@media (max-width: 400px) {


  .video-section  {
    margin-top: -425px;


  }

  .layout {
    height: 300px; /* Remove large margin-top */
   
  }

  .about1 {
    margin-top:-290px; /* Remove large margin-top */
   
  }

}

@media (max-width: 360px) {


  .video-section  {
    margin-top: -300px;


  }

  .layout {
    height: 290px; /* Remove large margin-top */
   
  }

  .about1 {
    margin-top:-285px; /* Remove large margin-top */
   
  }

}

@media (max-width: 430px) {


  .video-section  {
    margin-top: -430px;



    
  }
}
